<template>
  <section class="section">
    <div class="container is-max-desktop">
      <div class="columns is-mobile">
        <div class="column is-two-thirds-tablet is-offset-2-tablet">
          <div class="box">
            <h2 class="title">
              Juni's Journal
            </h2>
            <journal-post v-if="journal" :post="journal" />
            <hr>
            <nuxt-link to="/journal">
              ← Back to Journal
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script lang="ts">
import {
  defineComponent,
  useMeta,
  useContext,
  computed,
  useStatic,
} from 'nuxt-composition-api';

import { Result } from '@nuxt/content';
import { extrapolateMeta } from '../../utils/meta';

interface JournalResult extends Result {
  title: string;
  description: string;
  excerpt?: string;
};

const journalSlug = defineComponent({
  head: {},
  setup () {
    const { params, $content } = useContext();
    const slug = computed(() => params.value.slug);
    const { title, meta } = useMeta();

    const journal = useStatic<JournalResult>(async (slug) => {
      const theJournal = await $content('journals', slug).fetch<JournalResult>();

      const theMeta = extrapolateMeta({
        title: theJournal.title,
        description: theJournal.description ?? theJournal.excerpt ?? undefined,
      });

      title.value = theMeta?.title;
      meta.value = theMeta.meta ?? [];

      return theJournal;
    }, slug, 'journal');

    return {
      journal,
    };
  },
});

export default journalSlug;
</script>
