<template>
  <section class="section">
    <div class="container is-max-desktop">
      <div class="columns is-mobile">
        <div class="column is-two-thirds-tablet is-offset-2-tablet">
          <div class="box content">
            <h2 class="title">
              Juni's Journal
            </h2>

            <h4 class="subtitle">
              Most Recent Posts
            </h4>
            <ul class="post-list">
              <li v-for="journal of journals" :key="journal.slug">
                <NuxtLink :to="{ name: 'journal-slug', params: { slug: journal.slug } }">
                  <img v-if="journal.img" :src="journal.img">
                  <div>
                    <div class="title is-4">
                      {{ journal.title }}
                    </div>
                    <p>{{ journal.description }}</p>
                  </div>
                </NuxtLink>
              </li>
            </ul>

            <hr>

            <h4 class="subtitle">
              Newest Post
            </h4>

            <div>
              <journal-post v-if="latestPost" :post="latestPost" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  async asyncData ({ $content }) {
    const journals = await $content('journals')
      .only(['title', 'description', 'img', 'slug', 'author'])
      .sortBy('createdAt', 'desc')
      .fetch();

    const latestPost = await $content('journals', journals[0].slug)
      .sortBy('createdAt', 'desc')
      .limit(1)
      .fetch();

    return {
      journals,
      latestPost,
    };
  },
};
</script>
