
<template>
  <section class="section">
    <div class="container">
      <div class="content">
        <div class="box">
          <h2 class="title">
            Project SkunkGal
          </h2>

          <p><strong><a href="https://forms.gle/H8q2uLTvkdqyTeSB7">Please fill out this survey on Google Forms</a></strong></p>

          <p><strong><a href="https://skunkgal.juniper.nz/">Sign up to our newsletter</a></strong></p>

          <p>
            Juniper Skunktaur here. I want to make an open-source tool to  sync your image gallery content and metadata between sites like
            <em>FurAffinity, DeviantArt, Weasyl, FurryLifeOnline, e621 / e926, InkBunny</em>, and many others!
          </p>

          <p>We also want to improve the experience of uploading, especially with tagging, automate uploading, automatically adding links to the same piece on different sites, and using the highest quality image file you wish to provide the tool.</p>

          <p>
            <nuxt-link to="/">
              ← return home
            </nuxt-link>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { extrapolateMeta } from '../../utils/meta';

export default {
  data () {
    return {
      title: 'Project Skunkgal - an art gallery sync and modify tool',
      description: 'Migrate and sync your pics/animations/writing/audio between different sites! Like take all your FurAffinity content and put it on DeviantArt, Weasyl or FLO, and others',
    };
  },
  head () {
    return extrapolateMeta({ title: this.title, description: this.description, image: this.image });
  },
};
</script>
