
<template>
  <section class="section">
    <div class="container">
      <div class="content">
        <div class="box">
          <h2 class="title">
            Project SkunkGal
          </h2>

          <h3>Thanks for signing up!</h3>

          <p><strong><a href="https://forms.gle/H8q2uLTvkdqyTeSB7">Please fill out this survey on Google Forms</a></strong></p>

          <p><strong><a href="https://skunkgal.juniper.nz/">Sign up to our newsletter</a></strong></p>

          <p>
            <nuxt-link to="/">
              ← return home
            </nuxt-link>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { extrapolateMeta } from '../../utils/meta';

export default {
  data () {
    return {
      title: 'Project Skunkgal - an art gallery sync and modify tool',
      description: 'Migrate and sync your pics/animations/writing/audio between different sites! Like take all your FurAffinity content and put it on DeviantArt, Weasyl or FLO, and others',
    };
  },
  head () {
    return extrapolateMeta({ title: this.title, description: this.description, image: this.image });
  },
};
</script>
