<template>
  <div v-if="post">
    <div class="post-title">
      <h1 class="title is-1">
        {{ title }}
      </h1>
      <p>{{ date }}</p>
    </div>
    <div class="content">
      <nuxt-content :document="post" />
    </div>
  </div>
</template>

<script>
import moment from 'moment';

export default {
  props: {
    post: {
      type: Object,
      required: true,
    },
  },
  computed: {
    title () {
      return !this.post ? '' : this.post.title;
    },
    date () {
      return !this.post
        ? ''
        : moment(this.post.createdAt).format('dddd, MMMM Do YYYY');
    },
    html () {
      return !this.post ? '' : this.post.html;
    },
  },
};
</script>

<style lang="scss" scoped>
.content {
  padding-top: 1em;
}
</style>
