<template>
  <b-navbar type="is-primary" spaced>
    <template slot="brand">
      <b-navbar-item tag="nuxt-link" :to="{ path: '/' }">
        <span class="title is-3 is-hidden-tablet">
          🦨 Juniper.nz
        </span>
        <span class="title is-3 is-hidden-mobile">
          🦨 Juniper the Skunktaur's site 🦨
        </span>
      </b-navbar-item>
    </template>
    <template slot="start" />

    <template slot="end">
      <b-navbar-item tag="nuxt-link" :to="{ path: '/' }">
        Home
      </b-navbar-item>
      <b-navbar-item
        tag="nuxt-link"
        :to="{ name: 'journal' }"
      >
        Journal
      </b-navbar-item>
      <b-navbar-item
        tag="nuxt-link"
        :to="{ name: 'ellzee' }"
      >
        Ellzee
      </b-navbar-item>
      <b-navbar-item tag="nuxt-link" :to="{ name: 'faq' }">
        FAQ
      </b-navbar-item>
      <b-navbar-item tag="a" href="http://buymeacoff.ee/skunktaur">
        Support Me
      </b-navbar-item>
    </template>
  </b-navbar>
</template>
