/* @import 'utilities/mixins';
/* CSS files add styling rules to your content */

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

$juni-eye: #caf158;
$juni-pupil: #507931;
$juni-ears: #eda9ae;
$juni-white: #f2f1e5;
$juni-nose: #333436;
$juni-fur: #46494f;
$juni-kiwi: #e0ffaa;
$juni-kiwi-dark: #7cc045;
$juni-strawberry: #ffc5a8;
$juni-strawberry-dark: #c06145;

// Set your colors
$primary: $juni-eye;
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

$widescreen-enabled: false;
$navbar-breakpoint: 420px;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: ( "white": ($white, $black), "black": ($black, $white), "light": ($light, $light-invert), "dark": ($dark, $dark-invert), "primary": ($primary, $primary-invert), "info": ($info, $info-invert), "success": ($success, $success-invert), "warning": ($warning, $warning-invert), "danger": ($danger, $danger-invert), "twitter": ($twitter, $twitter-invert) );

// background
$body-background-color: $juni-kiwi;
// Links
$link: scale-color($juni-pupil, $lightness: -10%);
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

.content ul a,
.content p a:not(.button) {
  text-decoration: underline;
}

p:not(:first-child):not(:last-child) {
  margin: 1em 0;
}

.icon.icon-link {
  background-image: url('~assets/svg/icon-hashtag.svg');
  display: none;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  margin-left: -20px;
  color: $juni-ears;

  h2:hover & {
    display: inline-block;
  }
}

figure {
  font-size: 0.8em;
  padding: 0.5em;

  & > figcaption {
    padding: 0.5em;
  }
}

/*

html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #2E495E;

  @include for-phone-only {
    font-size: 24px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #cfc;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

li {
  @include for-phone-only {
    padding: 8px 0;
  }
}

figure {
  font-size: 0.8em;
  padding: 0.5em;

  & > figcaption {
    padding: 0.5em;
  }
}

ul + h2 {
  padding-top: 1em;
}

section {
  max-width: 40em;

  @include for-phone-only {
    max-width: 80vw;
  }
}

p + h3 {
  padding-top: 1em;
}
hr {
  margin: 1em 0;
} */
