<template>
  <section class="hero">
    <div class="hero-body">
      <div v-if="statusCode !== 302" class="container">
        <center>
          <img src="~/assets/shrug.png" alt="Juniper shrugging">

          <h1 class="title is-1">
            Error {{ statusCode }}: {{ message }}
          </h1>
          <p v-if="statusCode === 404" class="description">
            <NuxtLink class="error-link" to="/">
              ← Back home
            </NuxtLink>
          </p>
          <!-- ERROR OBJECT DUMP
          {{ code }}
          -->
        </center>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  asyncData (context) {
    return { isDev: context.isDev };
  },
  data () {
    return { isDev: false };
  },
  computed: {
    statusCode () {
      return (this.error && this.error.statusCode) || 500;
    },
    message () {
      return this.error.message;
    },
  },
  head () {
    return {
      title: this.message,
    };
  },
};
</script>
