<template>
  <div />
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import { Context } from '@nuxt/types';

interface RedirectList
{
    [key: string]: { name: string, url: string };
};

@Component({})
export default class RedirectComponent extends Vue {
  redirect: string = '';

  asyncData ({ params, error, $config, ...ctx }: Context) {
    const redirectSlug = params.redirect ? params.redirect.toLowerCase() : '';
    const redirectList: RedirectList = {
      fa: { name: "Juniper's Fur Affinity", url: 'https://www.furaffinity.net/user/juniperskunktaur/' },
      discord: { name: "Juniper's Ellzee Discord", url: $config.discordInviteURL },
      da: { name: "Juniper's DeviantArt", url: 'https://deviantart.com/juniperskunktaur' },
      tg: { name: "Juniper's Telegram", url: 'https://t.me/skunktaur' },
      tgart: { name: "Juniper's Telegram Art Gallery", url: 'https://t.me/skunktaurart' },
    };
    const redirectObject = redirectList[redirectSlug];
    if (redirectObject) {
      if (process.client) {
        window.location.replace(redirectObject.url);
      }
      if (process.server) {
        ctx.res.writeHead(302, {
          Location: redirectObject.url,
        });
        ctx.res.end();
      }
      error({ statusCode: 302, path: redirectObject.url, message: 'Redirecting...' });
    } else {
      error({ statusCode: 404, path: redirectSlug, message: 'Well that stinks.' });
    }
    return {
      redirect: redirectSlug,
    };
  }
}
</script>
