<template>
  <section class="section">
    <div class="container is-max-desktop">
      <div class="columns is-mobile">
        <div class="column is-two-thirds-tablet is-offset-2-tablet">
          <div class="box">
            <div class="content">
              <h2 class="title">
                Ellzee aka Little Zootopia
              </h2>

              <h3 class="title is-3">
                What is Ellzee?
              </h3>
              <p>
                The canon setting of many of my characters, especially Juniper, Liara and Sophora.
              </p>
              <p>
                Ellzee (or more crudely, 'Little Zootopia') is a furry enclave in
                the city where they believe the world changing transformation effect occurred, and
                where the magitech and transformations are being researched.
              </p>

              <figure class="block">
                <a href="https://www.furaffinity.net/view/32523664/">
                  <picture>
                    <source :srcSet="juniTFImageWebP.srcSet" type="image/webp">
                    <source :srcSet="juniTFImageJpg.srcSet" type="image/jpeg">
                    <img
                      :src="juniTFImageJpg.src"
                      :srcSet="juniTFImageJpg.srcSet"
                      sizes="(min-width: 1024px) 1024px, 100vw"
                      loading="lazy"
                      alt=""
                    >
                  </picture>
                </a>
                <figcaption>
                  <p><a href="https://www.furaffinity.net/view/32523664/">Art by Yoyobuae on Fur Affinity</a>. From the STRIPE archives:</p>
                  <blockquote>
                    Specimen was a human working as a research associate (read: intern) working with anomalous objects. After a failed experiment, he is cleaning up in the laboratory, when the object suddenly emitted an unprecedented burst of techno-magical energy, triggering the Big TE, (Transformation Event) transforming around one-third of the human population into anthropomorphic humans, centaur-like beings taurs or stranger! The specimen, being in so close proximity to the anomaly, was severely transformed, into a human-sized centaur-like skunk, with four arms! While not unique, the severity of his transformation is rare.
                  </blockquote>
                </figcaption>
              </figure>
              <p>
                Research of some techno-magical artifacts goes wrong and one-third of the world has been transformed into furries against their will or, as in Juniper and Liara's case, something more complicated. Humans and the new 'Affected' are working to adjust to this, and it's definitely causing conflict.
              </p>

              <figure>
                <a href="https://www.furaffinity.net/view/34226245/">
                  <picture>
                    <source :srcSet="postCardImageWebP.srcSet" type="image/webp">
                    <source :srcSet="postCardImageJpg.srcSet" type="image/jpeg">
                    <img
                      :src="postCardImageJpg.src"
                      :srcSet="postCardImageJpg.srcSet"
                      sizes="(min-width: 1024px) 1024px, 100vw"
                      loading="lazy"
                      alt=""
                    >
                  </picture>
                  <figcaption>
                    The 2019 Ellzee Friends Christmas postcard. many anthros and taurs
                    pose for a photo.
                    <a href="https://www.furaffinity.net/view/34226245/">Art by merlin-the-bruce on Fur Affinity</a>
                  </figcaption>
                </a>
              </figure>

              <h3 class="title is-3">
                Want to learn more about the setting?
              </h3>

              <ul>
                <li>
                  <p>
                    <strong><a
                      href="https://j.mp/ellzee-doc"
                    >Ellzee Setting living document</a></strong>
                  </p>
                  <p>
                    Something I've purposefully done is left out a lot of details so
                    you can tell your own interesting story in this place. Things
                    like children and trans-gender transformations, and humans
                    becoming monsters or hybrids are left for you to do with what
                    you will.
                  </p>
                </li>

                <li>
                  <p>
                    <strong><a
                      :href="$config.discordInviteURL"
                    >Juniper’s Ellzee Discord server</a></strong>
                  </p>
                  <p>
                    A wholesome, SFW community complete with a casual RP at a
                    tavern. A great place to make friends and find others interested
                    in exploring this setting with you!
                  </p>
                </li>
              </ul>

              <p>
                <nuxt-link to="/">
                  ← return home
                </nuxt-link>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { extrapolateMeta } from '../utils/meta';
import postCardImageWebP from '~/assets/images/Ellzee_Postcard_2019_by_Merlin.png?{placeholder: true, sizes: [320, 640, 960, 1200, 1800, 2400], format: "webp"}';
import postCardImageJpg from '~/assets/images/Ellzee_Postcard_2019_by_Merlin.png?{placeholder: true, sizes: [320, 640, 960, 1200, 1800, 2400], format: "jpg"}';
import juniTFImageWebP from '~/assets/images/Juniper_Transformation_by_Yoyobuae.png?{placeholder: true, sizes: [320, 640, 960, 1200, 1800, 2400], format: "webp"}';
import juniTFImageJpg from '~/assets/images/Juniper_Transformation_by_Yoyobuae.png?{placeholder: true, sizes: [320, 640, 960, 1200, 1800, 2400], format: "jpg"}';

export default {
  data () {
    return {
      title: "Ellzee - Juniper's canon setting",
      description: 'Learn more about the canon of Juniper, Liara and Sophora and many others!',
      image: {
        url: this.$config.baseURL + require('~/assets/social/postcard_social.jpg'),
        width: 1200,
        height: 627,
        type: 'image/jpeg',
      },
      postCardImageWebP,
      postCardImageJpg,
      juniTFImageWebP,
      juniTFImageJpg,
    };
  },
  head () {
    return extrapolateMeta({ title: this.title, description: this.description, image: this.image });
  },
};
</script>
