<template>
  <section class="section">
    <div class="container">
      <div class="content">
        <div class="box">
          <h2 class="title">
            FAQ
          </h2>

          <h3 class="title is-3">
            Can I draw your characters?
          </h3>
          <p>
            You may draw them SFW without permission, but I do ask you share
            with me privately first before sharing it with the world! Use any
            reference material you can find on my Fur Affinity.
          </p>

          <h3 class="title is-3">
            Why a four-armed skunktaur, Juniper?
          </h3>
          <p>
            Want to know why my sona is so weird? Read this journal post: <br>
            <nuxt-link
              to="/journal/2019-07-11-why-a-four-armed-skunktaur"
            >
              Why a four-armed skunktaur, Juniper?
            </nuxt-link>
          </p>

          <h3 class="title is-3">
            Do you RP (roleplay)?
          </h3>
          <p>
            Yes! I do! Safe for work only. PG-13 if we trust each other. I have
            a
            <nuxt-link
              to="/journal/2019-06-08-roleplaying-with-juniper"
            >
              roleplaying interests list
            </nuxt-link>, but if it's SFW transformation or multi exploration, I'm very
            much interested!
          </p>

          <h3 class="title is-3">
            Can you draw me for free?
          </h3>
          <p>
            I could! I have a gift list that's probably quite long already.
            Let's be each other's friends and maybe you'll make the list!
          </p>

          <h3 class="title is-3">
            Can we art trade?
          </h3>
          <p>Really? I'd be honoured! You think my art is up to it? Thanks!</p>

          <h3 class="title is-3">
            Can I give you material wealth or services in exchange for art or
            ___?
          </h3>
          <p>
            Maybe! If you
            <a href="https://ko-fi.com/skunktaur">Drop me a Ko-fi</a> I'll
            absolutely draw at least a sketch of you as thanks!
          </p>
          <hr>
          <p>
            <nuxt-link to="/">
              ← return home
            </nuxt-link>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
