<template>
  <section class="section">
    <div class="container">
      <div class="content">
        <div class="columns">
          <div class="column">
            <div class="box has-text-centered">
              <h2>Latest Journal</h2>
              <p v-if="mostRecentPost">
                🆕 {{ latestPostDate }}:
                <NuxtLink :to="{ name: 'journal-slug', params: { slug: mostRecentPost.slug } }">
                  {{ mostRecentPost.title }}
                </NuxtLink>
              </p>
              <b-button
                tag="nuxt-link"
                size="is-large"
                :to="{ name: 'journal' }"
                type="is-primary"
                inverted
              >
                Read Juni's Journal
              </b-button>
            </div>

            <div class="box has-text-centered">
              <figure>
                <NuxtLink :to="{ name: 'wallpaper' }">
                  <img
                    src="~/assets/social/wallpaper_social.jpg"
                    alt="Wallpaper"
                    style="max-height: 25vh;"
                  >
                </NuxtLink>
                <figcaption>
                  <NuxtLink :to="{ name: 'wallpaper' }">
                    Juniper mobile wallpaper!
                  </NuxtLink>
                </figcaption>
              </figure>
              <figure>
                <a href="https://www.furaffinity.net/view/31817124/">
                  <img
                    src="~/assets/ref.jpg"
                    alt
                    style="max-height: 25vh; vertical-align: top;"
                  >
                </a>
                <figcaption>
                  <a
                    href="https://www.furaffinity.net/view/31817124/"
                  >Juniper's character reference sheet by Gigi /
                    reine.du.soleil</a>
                </figcaption>
              </figure>
              <p>
                <b-button
                  tag="a"
                  type="is-primary"
                  href="https://www.furaffinity.net/view/31817124/"
                  icon-right="open-in-new"
                >
                  See more of Juniper's Art on FA
                </b-button>
              </p>
            </div>
          </div>

          <div class="column">
            <div class="box">
              <h2 class="title">
                🦨 Who is Juniper?
              </h2>
              <p>
                I'm your wholesome friendly neighbourhood four&shy;armed skunktaur
                pal from Wellington, New Zealand!
              </p>
              <p>
                I try my best to make friends and help people through
                challenging times. I'm no therapist, but I've been through my
                own fair share of struggles and come out the other side a
                survivor.
              </p>
              <p>
                <b-button
                  tag="nuxt-link"
                  type="is-primary"
                  :to="{ name: 'faq' }"
                  title="FAQ"
                >
                  Learn more...
                </b-button>
                <b-button
                  tag="nuxt-link"
                  type="is-link"
                  :to="{ name: 'journal' }"
                  title="Juni's Journal"
                >
                  Read Juni's Journal...
                </b-button>
              </p>
            </div>

            <div class="box">
              <h2 class="title">
                🦨 The "Ellzee" setting
              </h2>
              <p>
                Juniper's canon: a world where 1/3 of humans have become
                furries, taurs or more, and humans and furries are working it
                out to varying degrees of success.
              </p>
              <p>
                <b-button
                  tag="nuxt-link"
                  type="is-primary"
                  :to="{ name: 'ellzee' }"
                  title="FAQ"
                >
                  Learn more...
                </b-button>
                <b-button
                  tag="a"
                  type="is-link"
                  :href="$config.discordInviteURL"
                  icon-right="open-in-new"
                >
                  Juniper's Ellzee Discord
                </b-button>
                <!-- <b-button
                  tag="nuxt-link"
                  type="is-link"
                  to="/discord"
                  icon-right="open-in-new"
                >
                  Juniper's Ellzee Discord (nuxt link)
                </b-button> -->
              </p>
            </div>

            <div class="box">
              <h2 class="title">
                🦨 Contact
              </h2>
              <ul>
                <li>
                  <a rel="me" href="https://bsky.app/profile/juniper.nz">BlueSky - @juniper.nz</a>
                </li>                
                <li>
                  <a rel="me" href="https://t.me/skunktaur">Telegram - @skunktaur</a>
                </li>
                <li>
                  <a rel="me" href="https://discordapp.com/users/309861889637220353">Discord - skunktaur</a>
                </li>
                <li>
                  <a rel="me" href="https://twitter.com/skunktaur">Twitter - @skunktaur</a>
                </li>
                <li>
                  <a rel="me" href="https://social.furry.nz/@Juniper">Mastodon - @juniper@furry.nz</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="column">
            <div class="box">
              <h2 class="title">
                🦨 Galleries
              </h2>
              <ul>
                <li>
                  <strong>
                    <a rel="me" href="https://www.furaffinity.net/user/juniperskunktaur/">FurAffinity</a> ✨
                  </strong>
                </li>
                <li>
                  <a href="https://t.me/skunktaurart">Juniper's Art Gallery channel on Telegram</a> ✨
                </li>
                <li>
                  <a rel="me" href="https://www.deviantart.com/juniperskunktaur">DeviantArt</a> ✨
                </li>
                <li>
                  <a rel="me" href="https://www.twitch.tv/juniperskunktaur">Twitch.tv</a>
              </ul>
            </div>

            <div class="box">
              <h2 class="title">
                🦨 Other links
              </h2>
              <ul>
                                <li>
                  <a rel="me" href="https://www.weasyl.com/~juniperskunktaur">Weasyl</a>
                </li>
                <li>
                  <a rel="me" href="https://inkbunny.net/JuniperSkunktaur">Inkbunny</a>
                </li>
                <li>
                  <a rel="me" href="https://steamcommunity.com/id/juniperskunktaur">Steam - juniperskunktaur</a>
                </li>
                <li>
                  <a rel="me" href="https://instagram.com/juniperskunktaur">Instagram</a>
                </li>
                <li>
                  <a rel="me" href="https://picarto.tv/juniperskunktaur/">Picarto</a>
                </li>
                <li>
                  <a rel="me" href="https://www.reddit.com/u/JuniperSkunktaur/">Reddit</a>
                </li>
                <li>
                  <a rel="me" href="https://furrynetwork.com/skunktaur/">FurryNation</a>
                </li>
                <li>
                  <a rel="me" href="https://artfight.net/~JuniperSkunktaur">Art Fight</a>
                </li>
                <li>
                  <a rel="me" href="https://curiouscat.me/skunktaur">CuriousCat - Ask me anything!</a>
                </li>
              </ul>
            </div>

            <div class="box">
              <h2 class="title">
                🦨 Help a skunk
              </h2>
              <ul>
                <li>
                  <a href="https://www.buymeacoffee.com/skunktaur"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&amp;emoji=&amp;slug=skunktaur&amp;button_colour=40DCA5&amp;font_colour=ffffff&amp;font_family=Cookie&amp;outline_colour=000000&amp;coffee_colour=FFDD00" align="top"></a><br>
                  Free art for supporters! Support one time, or monthly support!
                </li>
                <li>
                  <a href="https://www.paypal.me/juniperskunktaur/USD5.00">PayPal.me/juniperskunktaur</a> ✨
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>
</template>

<script>
import Vue from 'vue';
import moment from 'moment';

export default Vue.extend({
  async asyncData ({ $content }) {
    const latestPost = await $content('journals')
      .only(['createdAt', 'title', 'slug'])
      .sortBy('createdAt', 'desc')
      .limit(1)
      .fetch();
    return {
      latestPost,
    };
  },
  data () {
    return {
      isIOS: false,
      showBSVQRCode: false,
    };
  },
  computed: {
    mostRecentPost () {
      return !this.latestPost[0]
        ? {}
        : this.latestPost[0];
    },
    latestPostDate () {
      console.log(this.mostRecentPost);
      return !this.mostRecentPost
        ? ''
        : moment(this.mostRecentPost.createdAt).format('D MMM YYYY');
    },
  },
  updated () {
    this.isIOS =
      !!navigator &&
      !!navigator.platform &&
      /iPad|iPhone|iPod/.test(navigator.platform);
  },
});
</script>
