<template>
  <section class="section">
    <div class="container">
      <div class="content">
        <div class="box">
          <h2 class="title">
            {{ title }}
          </h2>
          <p>
            Feel free to
            <a
              href="/images/Juniper_Wallpaper_5h4d0wn3rd.png"
            >download this Juniper Wallpaper</a>
            for personal use on your own devices!
          </p>

          <p class="has-text-centered">
            <b-button type="is-primary" size="is-large" tag="a" href="/images/Juniper_Wallpaper_5h4d0wn3rd.png" icon-left="download-circle">
              Download the free Wallpaper
            </b-button>
          </p>
          <figure>
            <a
              href="/images/Juniper_Wallpaper_5h4d0wn3rd.png"
            ><img
              src="/images/Juniper_Wallpaper_5h4d0wn3rd.png"
              alt=""
              style="max-width: 75vh;"
            ></a>
            <figcaption>
              Juniper Wallpaper by 5h4d0wn3rd
            </figcaption>
          </figure>

          <p class="has-text-centered">
            <b-button type="is-primary" size="is-large" tag="a" href="/images/Juniper_Wallpaper_5h4d0wn3rd.png" icon-left="download-circle">
              Download the free Wallpaper
            </b-button>
          </p>

          <p>
            <nuxt-link to="/">
              ← return home
            </nuxt-link>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { extrapolateMeta } from '../utils/meta';
export default {
  data () {
    return {
      title: 'Free Juniper the Skunktaur Wallpaper',
      description: 'Get a free downloadable wallpaper suitable for portable devices featuring Juniper the Skunktaur!',
      image: {
        url: this.$config.baseURL + require('~/assets/social/wallpaper_social.jpg'),
        width: 1200,
        height: 627,
        type: 'image/jpeg',
      },
    };
  },
  head () {
    return extrapolateMeta({ title: this.title, description: this.description, image: this.image });
  },
};
</script>
